.eventImage {
  width: 100%;
  height: 40vh;
  object-fit: cover;
}

.title-color {
  color: var(--color-title);
}

.eventTitle {
  padding-left: 2%;
  margin: 3% auto;
}

.context-title {
  font-size: 16px;
}

.context-description {
  font-size: 14px;
}

.hostName {
  display: flex;
  gap: 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  padding-left: 2%;

  color: #828282;
}

.dateCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2em;
  margin-top: 15%;
  padding-left: 7%;

  background-color: #fff;
}

.icon-container {
  display: flex;
  justify-content: center;
  padding: 12px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.calendar-icon {
  width: 20px;
  height: 22px;
}

.dateCard-date {
  display: grid;
  grid-template-columns: 0.5fr 2.1fr 0.5fr;
  align-items: center;
  grid-gap: 5%;
}

.dateCard-date-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.dateCard-time {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.dateCard-address {
  display: grid;
  grid-template-columns: 0.5fr 2.1fr 0.5fr;
  align-items: center;
  grid-gap: 5%;
}

.description {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #828282;
  width: 100%;
}

/* Responsive design for desktops */
@media (min-width: 1024px) {
  .event-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5%;
    margin: 5% 10%;
    align-self: center;
    justify-self: center;
  }

  .eventImage {
    height: 50vh;
  }

  .event-column-2 {
    grid-row: 1;
    align-self: center;
    justify-self: center;
    width: 100%;
  }

  .eventTitle {
    padding-left: 10%;
    margin: 3% auto;
  }

  .hostName {
    padding-left: 10%;
  }

  .dateCard {
    margin-top: 10%;
    padding-left: 10%;
  }
}